

<h1 >Items
<%= search_form_for @q do |f| %>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
  <label class="mdl-button mdl-js-button mdl-button--icon" for="q_item_cont">
    <i class="material-icons">search</i>
  </label>
  <div class="mdl-textfield__expandable-holder">
    <input class="mdl-textfield__input" type="text" id="q_item_cont" name='q[item_cont]'>
    <label class="mdl-textfield__label" for="search">Enter your query...</label>
  </div>
</div>
<% end %>
</h1>


<!-- <table class= "">
  <thead>
    <tr>
      <th>Item</th>
      <th>Description</th>
      <th>Bidders</th>


      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @items.each do |item| %>



      <tr>
        <td><%= item.item %></td>
        <td><%= item.description %></td>
        <td><%= bidders item %></td>
        <% if user_signed_in?%>
        <td>
          <%unless user_bidded? item %>
          <%=link_to 'Bid this item', bid_item_path(item), method: :post %>
          <%else %>
          Bidded
          <%end%>

        </td>
        <td><%= link_to 'Show', item %></td>
        <%end%>
        <% if require_admin_bool%>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>

        <% if item.users.count > 1 %>
        <% if !item.winner %>
        <td><%= link_to 'Draw', draw_item_path(item) %></td>
        <%else%>
        <td>This item został już wygrany</td>
        <%end%>
        <%else%>
        <td>Not enought bidders</td>
        <% end %>
        <%if item.users.count == 0  %>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>

        <%end%>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table> -->




<style>
.demo-list-action {
  width: 300px;
}
</style>
<ul class="demo-list-three mdl-list">
  <% @items.each do |item| %>
  <li class="mdl-list__item mdl-list__item--three-line">
    <span class="mdl-list__item-primary-content">

      <i class="material-icons mdl-list__item-avatar">person</i>


      <span><%=item.item%></span>
      <span class="mdl-list__item-text-body">
      <%= item.description %>
      </span>
    </span>
    <span class="mdl-list__item-secondary-content">
          <a class="mdl-list__item-secondary-action" href="#">
          </a>

    <% if user_signed_in?%>
      <%unless user_bidded? item %>
      <%= link_to bid_item_path(item), class: "mdl-list__item-secondary-action",  method: :post do %>
        <i class="material-icons" role="presentation">gavel_</i>
        <%end%>


      <%end%>
      <%end%>

    </span>



    <% if require_admin_bool%>

    <% if item.users.count > 1 && !item.winner%>

    <span class="mdl-list__item-secondary-content">
      <%= link_to draw_item_path(item), class: "mdl-list__item-secondary-action" do %>
        <i class="material-icons" role="presentation">cached</i>
        <%end%>
    </span>
    <%else%>

    <span class="mdl-list__item-secondary-content">
      <%= link_to edit_item_path(item), class: "mdl-list__item-secondary-action" do %>
        <i class="material-icons" role="presentation">build</i>
        <%end%>
    </span>



    <%if item.users.count == 0  %>
    <span class="mdl-list__item-secondary-content">
      <%= link_to item, method: :delete, data: { confirm: 'Are you sure?' },class: "mdl-list__item-secondary-action" do %>
        <i class="material-icons" role="presentation">delete forever</i>
        <%end%>
    </span>
    <%end%>
    <%end%>
    <%end%>
    <span class="mdl-list__item-secondary-content">
      <%= link_to item, class: "mdl-list__item-secondary-action" do %>
      <i class="material-icons" role="presentation">visibility</i>
      <%end%>
    </span>














  </li>
  <% end%>
  <ul>



<%= paginate @items %>
