<!DOCTYPE html>
<html>

  <head>
    <title>Lottery</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="images/favicon.png">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->


    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    </style>

  </head>


  <body>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout- mdl-layout--fixed-header">
        <header class="demo-header mdl-layout__header">
          <div class="mdl-layout__header-row">
            <span style="text-align:center"  class="mdl-layout-title"><%=link_to  "Home", root_path%> </br> <div id="notice"><%= notice %></div></span>
              <div class="mdl-layout-spacer"></div>
                </header>
                   <div class="demo-drawer mdl-layout__drawer  ">
                     <header   class="demo-drawer-header" >
                       <%= image_tag(current_user.avatar_url, class: 'avatar') if current_user && current_user.avatar.present?  %>

                         <div class="demo-avatar-dropdown">
                            <div class="mdl-layout-spacer"></div>
                        </div>
                      </header>


          <nav class="demo-navigation mdl-navigation">
          <% if user_signed_in? %>
              <span style="text-align:center"><%= current_user.email%></span>

          <%= link_to root_path, class: "mdl-navigation__link ", :method=> :get do %>
            <i class="material-icons" role="presentation">home</i> Home
          <% end %>

          <%= link_to myitems_path, class: "mdl-navigation__link ", :method=> :get do %>
            <i class="material-icons" role="presentation">shopping_cart</i> My items

            <!-- <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
            <li class="mdl-menu__item">About</li>
            <li class="mdl-menu__item">Contact</li>
            <li class="mdl-menu__item">Legal information</li>
          </ul> -->
          <% end %>

          <% if require_admin_bool %>

          <%= link_to new_item_path, class: "mdl-navigation__link ", :method=> :get do %>
          <i class="material-icons" role="presentation">add</i> Create item
          <% end %>

          <% end %>

          <%= link_to edit_user_registration_path, class: "mdl-navigation__link ", :method=> :get do %>
            <i class="material-icons" role="presentation">flag</i> My account
          <% end %>

          <%= link_to destroy_user_session_path, class: "mdl-navigation__link ", :method=> :delete do %>
            <i class="material-icons" role="presentation">exit_to_app</i> Log out
          <% end %>




        </nav>

          <div class="mdl-layout-spacer"></div>

         <% else %>

         <%= link_to new_user_session_path, class: "mdl-navigation__link ", :method=> :get do %>
           <i class="material-icons" role="presentation">person</i>     Log in
         <% end %>

         <%= link_to new_user_password_path,  class: "mdl-navigation__link ", :method=> :get do %>
           <i class="material-icons" role="presentation">local_offer</i>      Forgot password
         <% end %>

         <%= link_to new_user_registration_path,  class: "mdl-navigation__link ", :method=> :get do %>
           <i class="material-icons" role="presentation">person_add</i>     Sign Up
         <% end %>

       </nav>


      <% end %>
    </div>
    <main class="mdl-layout__content">
      <div class="mdl-grid demo-content">
    </div>
    <%= yield %>
    </main>









          </div>
        </header>
    </div>



  </body>
</html>
